@use "./../base";

.home {
  position: relative;
  background: base.$secondaryCOlor;
  color: white;
}

.hero {
  padding: 5rem 0rem;
  max-width: 1000px;
  margin: auto;
}

.hero-text h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem auto;
  font-family: monospace;
}

.hero-text p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 2rem;
}

.hero-text {
  padding-bottom: 3rem;
}

.hero-action {
  @include base.flex-center;
  flex-direction: column;
}

.hero-action .btn-sub-text {
  margin-top: 1rem;
  font-style: italic;
}
