@use "./../base";
@use "./../base/inputs";

.pt-nav {
  @include base.flex-space-between;
  height: base.$nav-height;
  width: 100%;
  padding: 5px 50px;
  font-size: 1.2rem;
  //
}

.nav-logo {
  width: 40px;
}

.nav-brand-name {
  font-size: 1.8rem;
  padding-left: 5px;

  span {
    font-family: monospace;
    &:first-child {
      color: base.$secondaryCOlor;
    }
    &:last-child {
      color: base.$secondaryCOlor;
    }
  }
}

.pt-logo-text {
  @include base.flex-start;
}

.pt-logo-text {
  color: initial;
  text-decoration: none;
}
