@use "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
}

#root {
  min-height: 100vh;
}

.pt-page {
  min-height: calc(100vh - base.$nav-height);
}
